@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using AslWebApi.DTOs;

@model AslWebApi.DTOs.LoginModel;

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign In</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>

    <style>
        body {
            background: hsla(180,100%,50%,0.1);
        }

        #circle1 {
            background: hsla(180,100%,50%,1);
            width: 1000px;
            height: 1000px;
            border-radius: 50%;
            position: absolute;
            top: -20%;
            left: 60%;
            z-index: -1;
        }

        #circle2 {
            background: hsla(180,50%,50%,1);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: -50px;
            z-index: -1;
        }

        .headings1 {
            font-family: fantasy;
        }

                /*For background blur when sweetalert shown*/
        body.swal2-shown > [aria-hidden="true"] {
            transition: 1s filter;
            filter: blur(5px);
        }
        
/*        .my-swal {
            backdrop-filter: blur(5px);
            color: white !important;
        }

        .my-swal2 {
            filter: blur(5px) !important;
            background-color: blue !important;
        }*/
    </style>
    <div id="circle1"></div>
    <div id="circle2"></div>
    <div id="circle3"></div>
    <div class="container">
        <h1 class="text-center headings1">
            User Activity Monitor
        </h1>

        <hr />

        <form method="post" asp-controller="home" asp-action="Login">
            <div class="row m-2">
                <div class="col-6"></div>
                <div class="col-3 text-right"></div>
                <div class="col-3 text-left">
                    <h2 class="text-center">Sign In!</h2>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-6"></div>
                <div class="col-3 text-right">UserID:</div>
                <div class="col-3 text-left"><input asp-for="UserName" class="form-control" /></div>
            </div>
            <div class="row m-2">
                <div class="col-6"></div>
                <div class="col-3 text-right"> Password:</div>
                <div class="col-3 text-left"><input asp-for="Password" type="password" class="form-control" /></div>
            </div>
            <div class="row m-2">
                <div class="col-6"></div>
                <div class="col-3 text-right"></div>
                <div class="col-3 text-center"><input type="submit" value="Sign In" class="btn btn-outline-primary" /></div>
            </div>


            <h2 style="color:red;">@ViewBag.ErrMsg</h2>


        </form>

    </div>


    @*For Alert and Javascript*@
    @Html.Raw(TempData["RunJS"]?.ToString())
    @Html.Raw(TempData["RunAlert"]?.ToString())

</body>
</html>

